@media screen and (max-width:600px){
    ul{
        flex-direction: column;
    li{
        margin-bottom: 5%;
    }
    }
    .bodee{
        .head-top{
            flex-direction: column;}
    .hamburger{
        display:block;
    }
     
    h1{
        font-size: 30px;
        font-weight: 300;
    }
    p{
        font-size: 10px;
        font-weight: 200;
        color: gray;
    
    }
    
    }
    
}
    