@import "./global";
@import "./variables";
@import "../chillstyle";

.white{
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 3px;
}
.whitee{
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 3px;
    margin-left: 5vw;
}

.get-started{
    background-color: black;
    border: 1px solid black;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 3px;
    margin-top: 5%;
    a{
        color: white;
    }
}

.blue{
    background-color: blue;
    color: white;
    border: 2px solid blue;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 3px;
    a{
        color: white;
    }

}
.title{
  text-align: center;  
  line-height: 4;
}

.container{
    margin: 10% 20% ;
}
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    line-height: 2;
  }
  input[type=submit]{
    background-color: blue;
    color: white;
    text-transform: uppercase;
    &:hover{
        background-color: rgb(84, 84, 236);
        transition-property: all 2s;
    }
}
@media screen and (max-width:768px){
    ul{
        flex-direction: column;
    li{
        margin-bottom: 5%;
    }
    }
    .bodee{
        padding: 1vh 1vw;
        .head-top{
            flex-direction: row;
        
        }

    .hamburger{
        display:block;

    }
     .swaga{
         display: none;
     }
    h1{
        font-size: 30px;
        font-weight: 500;
    }
    p{
        font-size: 16px;
        font-weight: 300;
        color: gray;
    
    }
    
    }
    .first-section{
        flex-direction: column;
    }
    .second-section{
        display: none;
}
.section{
    grid-template-columns: auto auto;
}
.bluee{
    flex-direction: column-reverse;
    padding: 1vh 1vw;
    img{
        width: 70%;
    }
    div{
        padding: 0;
    }
    .lorem{
        width: 100%;
    }
}
.fourth{
    flex-direction: column-reverse;
    padding: 1vh 2vw;
    img{
        padding: 0;
        width: 50%;
    }
    div{
        padding: 0;
    }
}

.lap{
    grid-template-columns: auto auto;
}
.image{
    width: 50%;
}
.blueey{
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    a{
        align-items: center;
    }
    .whitee{
        right: 150px;
    }
}
  
}

// @media screen and (max-width:768px){
//     h1{
//         font-size: 30px;
//         font-weight: 500;
//     }
//     p{
//         font-size: 16px;
//         font-weight: 300;
//         color: gray;
    
//     }

// }