* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.end-note a {
  padding-left: 25px;
  border: 1px solid blue;
  background-color: blue;
  color: white;
  margin-left: 5%;
}

.bluee {
  background-color: blue;
  color: white;
  border: 2px solid blue;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.white {
  background-color: white;
  border: 1px solid black;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 3px;
}

.get-started {
  background-color: black;
  border: 1px solid black;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 3px;
  margin-top: 5%;
}

.get-started a {
  color: white;
}

.blue {
  background-color: blue;
  color: white;
  border: 2px solid blue;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 3px;
}

.blue a {
  color: white;
}

.title {
  text-align: center;
  line-height: 4;
}

.container {
  margin: 10% 20%;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 2;
}

input[type=submit] {
  background-color: blue;
  color: white;
  text-transform: uppercase;
}

.bodee {
  margin: 3% 3%;
}

.bodee .head-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bodee .head-top a {
  padding-left: 20px;
  color: gray;
}

.bodee .hamburger {
  display: none;
}

.bodee h1 {
  font-size: 70px;
}

.bodee p {
  font-size: 35px;
  color: gray;
}

.first-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.first-section .intro-text {
  margin: 8% 2% 0 2%;
}

.second-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 4%;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4%;
  margin-left: 10%;
  margin-right: 10%;
}

.section img {
  height: 100%;
  width: 100%;
  border-radius: 1%;
}

.text-box {
  background-color: white;
  color: white;
  border: 2px solid white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.text-box a {
  margin-left: 40%;
}

.text-box p {
  text-align: center;
  padding: 10% 20%;
  color: black;
}

.fourth {
  margin-top: 4%;
}

@media screen and (max-width: 600px) {
  ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  ul li {
    margin-bottom: 5%;
  }
  .bodee {
    margin: 2%;
  }
  .bodee h1 {
    margin: 10%;
    font-size: 60px;
  }
  .bodee p {
    font-size: 45px;
  }
  .head-top ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 5%;
  }
}
/*# sourceMappingURL=style.css.map */