* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.end-note a {
  padding-left: 25px;
  border: 1px solid blue;
  background-color: blue;
  color: white;
  margin-left: 5%;
}

.bluee {
  background-color: blue;
  color: white;
  border: 2px solid blue;
  padding: 2vh 5vw;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bluee .lorem {
  width: 60%;
}

.white {
  background-color: white;
  border: 1px solid black;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 3px;
}

.get-started {
  background-color: black;
  border: 1px solid black;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 3px;
  margin-top: 5%;
}

.get-started a {
  color: white;
}

.blue {
  background-color: blue;
  color: white;
  border: 2px solid blue;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 3px;
}

.blue a {
  color: white;
}

.title {
  text-align: center;
  line-height: 4;
}

.container {
  margin: 10% 20%;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 2;
}

input[type=submit] {
  background-color: blue;
  color: white;
  text-transform: uppercase;
}

.bodee .head-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2vh 5vw;
}

.bodee .head-top a {
  padding-left: 20px;
  color: gray;
}

.bodee .hamburger {
  display: none;
}

.bodee h1 {
  font-size: 50px;
  font-weight: 500;
}

.bodee p {
  font-size: 22px;
  font-weight: 400;
  color: gray;
}

.first-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2vh 4vw;
}

.first-section .intro-text {
  margin: 8% 2% 0 2%;
}

.second-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1%;
}

.second-section img {
  padding: 10px;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: auto;
}

.section img {
  height: 100%;
  border-radius: 15%;
  padding: 10px;
}

.text-box {
  background-color: white;
  color: white;
  border: 2px solid white;
  padding: 0px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.text-box a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-box p {
  text-align: center;
  padding: 2% 20%;
  color: black;
}

.fourth {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  text-align: justify;
}

.fourth .image {
  height: 100%;
  width: 100%;
}

.fourth .height {
  height: 300px;
}

@media screen and (max-width: 600px) {
  ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  ul li {
    margin-bottom: 5%;
  }
  .bodee {
    margin: 2%;
  }
  .bodee h1 {
    margin: 10%;
    font-size: 60px;
  }
  .bodee p {
    font-size: 45px;
  }
  .head-top ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 5%;
  }
}
/*# sourceMappingURL=style.css.map */