@import "./global";
@import "./variables";

.white{
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 3px;
}

.get-started{
    background-color: black;
    border: 1px solid black;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 3px;
    margin-top: 5%;
    a{
        color: white;
    }
}

.blue{
    background-color: blue;
    color: white;
    border: 2px solid blue;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 3px;
    a{
        color: white;
    }

}
.title{
  text-align: center;  
  line-height: 4;
}

.container{
    margin: 10% 20% ;
}
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    line-height: 2;
  }
  input[type=submit]{
    background-color: blue;
    color: white;
    text-transform: uppercase;
}
.bodee{
    margin: 3% 3%;
    .head-top{
        display: flex;
        justify-content: space-between;
        a{
            padding-left: 20px;
            color:gray;
        }  
    }

.hamburger{
    display:none
}
 
h1{
    font-size: 70px;
}
p{
    font-size: 35px;
    color: gray;

}

}
.first-section{
    display: flex;
    .intro-text{
        margin: 8% 2% 0 2% ;
    }
}
.second-section{
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
}
.section{
    display: flex;
    margin-top: 4%;
    margin-left: 10%;
    margin-right: 10%;
    img{
        height: 100%;
        width: 100%;
        border-radius: 1%;
    }
}

.text-box{
    background-color: white;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    a{
        margin-left: 40%;
    }
    
}
.text-box p{
    text-align:center;
    padding: 10% 20%;
    color: black;
}
.fourth{
    margin-top: 4%;
    display: flex;
    height: 100%;
    width: 100%;
    text-align: justify;
    .image{
        height: 100%;
        width: 100%;
    }
}


  

@media screen and (max-width:600px){
    ul{
        flex-direction: column;
    li{
        margin-bottom: 5%;
    }
    }
    .bodee{
        margin: 2%;

        h1{
         margin: 10%;
        font-size: 60px;
        }
        
        p{
         font-size: 45px;
        }
    }
    .head-top ul{
        flex-direction: row;
        margin-left: 5%;
    }
     
}

